.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 50px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.box input {
  margin-bottom: 20px;
  padding: 10px;
}
.box label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #186faf;
}
.box button {
  padding: 10px;
  cursor: pointer;
  color: white;
  background-color: #186faf;
  border: none;
}
.box button:hover {
  background-color: #2680c2;
}
